<html>
	<body>
		<form action="/cadastro/cadastrar" method="post">
			Nome Completo <input type="text" name="nomeCompleto">
			Idade <input type="text" name="idade">
			RG <input type="text" name="rg">
			CPF do Responsável <input type="text" name="cpfResponsavel">
			CPF da Criança <input type="text" name="cpfCrianca">
			Senha <input type="password" name="senha">
			Confirmar senha <input type="password" name="confirmarSenha">
			
			<button type="submit" onclick="">Cadastrar</button>
		</form>		
		
		<form action="/cadastro/login" method="post">
			<button type="submit" onclick="">Voltar</button>
		</form>

	</body>
</html>