<html xmlns:th = "http://www.thymeleaf.org">
	<body>
		<ul>
			<li th:each="gasto: ${gastos}">
				<span th:text="${gasto.descricao}">Default</span>
				<span th:text="${gasto.valor}">Default value</span>
			</li>
		</ul>
		<form action="/saldo">
			<button type="submit">Saldo</button>
		</form>
		<form action="/transferencia">
			<button type="submit">Transferência</button>
		</form>
		<form action="/dicas">
			<button type="submit">Dicas financeiras</button>
		</form>
		
		<form action="/login">
			<button type="submit">Sair</button>
		</form>
	</body>
</html>